<div class="login-status-header">
    <div *ngIf="isAuthenticated && userFullName" style="font-size: 13px;" class="login-status-user-info">
            Welcome back, {{userFullName}}
    </div>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Log in</button>
    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn ml-2">Log out</button>
    <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ml-2">Member</button>
    <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-2">Order history</button>
</div>